<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781566604957-p5br3edjrlb2dhsdl35ekj8bh5q8scvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781566604957-p5br3edjrlb2dhsdl35ekj8bh5q8scvv</string>
	<key>API_KEY</key>
	<string>AIzaSyCP-ida94dq7F2GUVpXxjDJLYsbt5YJlKw</string>
	<key>GCM_SENDER_ID</key>
	<string>781566604957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Roman.mannager</string>
	<key>PROJECT_ID</key>
	<string>team-71e9b</string>
	<key>STORAGE_BUCKET</key>
	<string>team-71e9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781566604957:ios:9db4a1d29af7ad8a6ec674</string>
	<key>DATABASE_URL</key>
	<string>https://team-71e9b.firebaseio.com</string>
</dict>
</plist>